body{
    background-size:cover;
}
h1{
    font-size:50px;
}
.btn{
    background-color: rgb(71, 13, 84);
    width: 400px;
    font-size: 20px;
    color:white
}
.heading { 
    font-size: 23px;
     width: 100%; 
     margin: 0px;
 }
 canvas{
box-shadow:5px 5px 5px rgb(15, 127, 118) ;
    margin-top:300px;
 }
 #objeto{
    width: 30%;
 }